

.jumbotron {
  background-image:url('../img/europe.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

#result {
  display: none;
}

.sub-title{
  margin-bottom: 0px;
  font-size: 1.2em;
}

.hotel {
  font-size: 1.5em;
}

.stars {
  font-weight: bold;
}

.desc img{
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

#accomodation {
  margin-top: 40px;
  margin-bottom: 40px;
}

h4 {margin-top: 0px; text-decoration: underline;}

#iceland-desc, #ibiza-desc, #vienna-desc, #istanbul-desc {
  display: none;
}


@media screen and (min-width: 770px){
  .desc img{
    max-height: 400px;
    float: right;
    margin-left: 15px;
  }
}
